@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: url(man-mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

header img{
    width: 75px;
    margin: 2px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0px 20px;
    font-size: 28px;
}

i{
    color: black;
}

i:hover{
    color: orangered;
    animation: wiggle .5s linear;
}

@keyframes wiggle {
    25%{
        transform: translateX(3px)
    }
    50%{
        transform: translateX(-3px)
    }
    75%{
        transform: translateX(3px)
    }
    100%{
        transform: translateX(-3px)
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 100px auto;
    backdrop-filter: blur(5px);
    padding: 10px;
    box-shadow: 0px 10px 10px 0px;
    border-radius: 10px;
}

#to_do_input{
    text-align: center;
    padding: 5px 10px;
    width: 300px;
    outline: none;
}

button{
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    border: none;
}

button:hover{
    color: black;
    background-color: orange;
}

button:active{
    transform: scale(90%);
}

.to_do_main{
    display: flex;
}

.new_div_style{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

.new_div_style:hover{
    color: black;
    background: white;
}

.delete_btn_style:hover{
    transform: scale(120%);
    transition: .25s;
    border: 2px solid white;
}

.buttons{
    color: red;
}

#submit{
    display: flex;
}

.done_to_do{
    text-decoration: line-through;
    background-color: gray;
    display: flex;
    justify-content: center;
    font-style: italic;
    gap: 20px;
}

.initial_output{
    display: none;
}


@media only screen and (max-width: 930px) {

    .container{
        width: 80%;
        padding: 5px;
        flex-wrap: wrap;
    }

    #to_do_input{
        width: 17rem;
    }

    .new_div_style{
        flex-wrap: wrap;
        font-size: .60rem;
    }

    .to_do_main{
        width: 90%;
    }
}
